<p>
    <mat-toolbar class="mat-elavation-z6" style=" background: rgb(177, 42, 80);
    background: linear-gradient(90deg, #11998E 0%, #38EF7D 100%); color: white">
      <span>Sales Forcasting Application</span>

       <div class="spacer"> </div>

      <!-- <a mat-button routerLink="home" style="width: 80px;">Home</a> -->
      <a mat-raised-button routerLink="login">Login</a>
      <a mat-raised-button routerLink="sign-up" class="myclass">Sign Up</a>

    </mat-toolbar>
  </p>
  <div class="imageDiv">
    <div class="background-image">
      <div class="row">

        <div class="col-md-5">
          <div class="card1 p-5 mt-5 mb-5">

          </div>

        </div>

      </div>

    </div>
      
  </div>